
  <div class="filtro-pessoa">
    <label>Pessoa</label>
    <input
      type="text"
      placeholder="{{ 'Busca por pessoa' }}"
      (ngModelChange)=" getDigitoTeclado($event)"
      [(ngModel)]="searchQuery"
      [ngModelOptions]="{ standalone: true }"
      minlength="3"
    />
    <!-- nao ta pegando o minlength -->
  </div>

  <div class="filtro-categoria">
    <label>Categoria</label>
    <input type="text" placeholder="Busca por categoria"
    (ngModelChange)=" getDigitoTecladoCategoria($event)"
    [(ngModel)]="searchCategory"
    [ngModelOptions]="{ standalone: true }"
    minlength="3"/>
  </div>

